services:
  - type: web
    name: gipjazes-flower
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: UPLOAD_PASSWORD
        sync: false
